openapi: 3.1.0
info:
  description: 'The NFON Call History API provides endpoints for retrieving, streaming, and deleting call history records for an authenticated NFON Cloud Telephony user.


    This API is currently offered as part of **Login with NFON (Early Access)**. As an early access offering, the API is subject to change. Updates may occur on short notice, though we strive to provide advance notice where possible.


    For more information, see: https://www.nfon.com/en/integrations/login-with-nfon/'
  title: NFON Call History Accounts Blacklist Profiles API
  version: 2.0-early-access
  termsOfService: https://www.nfon.com/en/legal/gtc
  contact:
    name: NFON
    email: integration@nfon.com
  license:
    name: NFON proprietary
servers:
- url: https://api.nfon.com/call-history
tags:
- name: Blacklist Profiles
  description: Blacklist profile management
paths:
  /operators/{operatorId}/blacklist-profiles/{blacklistProfileId}:
    get:
      summary: Get blacklist profile
      parameters:
      - schema:
          format: int64
          type: integer
        required: true
        in: path
        description: Blacklist profile identifier
        name: blacklistProfileId
      - schema:
          type: string
        required: true
        in: path
        name: operatorId
      tags:
      - Blacklist Profiles
      operationId: get_208
      security:
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiResponse'
          description: Blacklist profile found
        '404':
          description: Not found
components:
  schemas:
    Links:
      description: Related resource links
      type: object
    NfonApiResponse:
      properties:
        links:
          $ref: '#/components/schemas/Links'
        data:
          description: Resource data (name/value pairs or structured object)
          type: object
        href:
          example: /api/sip-servers/100
          type: string
          description: Self-link to this resource
      type: object
      description: Standard API response envelope for a single resource
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JSON Web Token
