openapi: 3.1.0
info:
  description: 'The NFON Call History API provides endpoints for retrieving, streaming, and deleting call history records for an authenticated NFON Cloud Telephony user.


    This API is currently offered as part of **Login with NFON (Early Access)**. As an early access offering, the API is subject to change. Updates may occur on short notice, though we strive to provide advance notice where possible.


    For more information, see: https://www.nfon.com/en/integrations/login-with-nfon/'
  title: NFON Call History Accounts Customer IVR API
  version: 2.0-early-access
  termsOfService: https://www.nfon.com/en/legal/gtc
  contact:
    name: NFON
    email: integration@nfon.com
  license:
    name: NFON proprietary
servers:
- url: https://api.nfon.com/call-history
tags:
- name: Customer IVR
paths:
  /tenants/{participantExternalIdentifier}/targets/ivr-services/available-general-announcements:
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_112
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiCollectionResponse'
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
  /tenants/{participantExternalIdentifier}/targets/ivr-services:
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_113
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiCollectionResponse'
          description: Success
        '403':
          description: Insufficient permissions
    post:
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/IVRServiceRequest'
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: post_35
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '403':
          description: Insufficient permissions
        '400':
          description: Validation error
        '201':
          description: Created
  /tenants/{participantExternalIdentifier}/targets/ivr-services/available-destinations-on-timeout:
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_177
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiCollectionResponse'
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
  /tenants/{participantExternalIdentifier}/targets/ivr-services/target-available-destinations:
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_120
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiCollectionResponse'
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
  /tenants/{participantExternalIdentifier}/targets/ivr-services/{serviceNumber}:
    put:
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/IVRServiceRequest'
      parameters:
      - schema:
          format: int32
          type: integer
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: put_35
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '404':
          description: Not found
        '204':
          description: Updated
        '400':
          description: Validation error
        '403':
          description: Insufficient permissions
    delete:
      parameters:
      - schema:
          format: int32
          type: integer
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: delete_34
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '404':
          description: Not found
        '204':
          description: Deleted
        '403':
          description: Insufficient permissions
    get:
      parameters:
      - schema:
          format: int32
          type: integer
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_114
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiResponse'
              example:
                links:
                - href: /api/customers/K1234/announcements/7
                  rel: announcement
                - href: /api/customers/K1234/ivr-services/5001/timeout
                  rel: destinationOnTimeout
                - href: /api/customers/K1234/ivr-services/5001/key-assignments
                  rel: ivrKeyAssignments
                - href: /api/customers/K1234/ivr-services/5001/inbound-trunk-numbers
                  rel: inboundTrunkNumbers
                data:
                - value: 'true'
                  name: interpretUnknownAsExtension
                - value: '4'
                  name: maxNumberOfDigits
                href: /api/customers/example-id/targets/ivr-services/example-id
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
  /tenants/{participantExternalIdentifier}/targets/ivr-services/{serviceNumber}/inbound-trunk-numbers:
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_115
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                type: object
              example:
                links: {}
                data:
                - value: '123456'
                  name: didExtension
          description: Success
        '403':
          description: Insufficient permissions
    post:
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/InboundTrunkNumberRequest'
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: post_36
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '403':
          description: Insufficient permissions
        '400':
          description: Validation error
        '201':
          description: Created
  /tenants/{participantExternalIdentifier}/targets/ivr-services/{serviceNumber}/key-assignments:
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_117
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiCollectionResponse'
              example:
                links: {}
                data:
                - value: '3'
                  name: number
                href: /api/customers/example-id/targets/ivr-services/example-id/key-assignments
          description: Success
        '403':
          description: Insufficient permissions
    post:
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/IVRServiceKeyAssignmentRequest'
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: post_37
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '403':
          description: Insufficient permissions
        '400':
          description: Validation error
        '201':
          description: Created
  ? /tenants/{participantExternalIdentifier}/targets/ivr-services/{serviceNumber}/key-assignments/target-available-destinations
  : get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_119
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiCollectionResponse'
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
  /tenants/{participantExternalIdentifier}/targets/ivr-services/{serviceNumber}/key-assignments/{keyAssignmentNumber}:
    put:
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/IVRServiceKeyAssignmentRequest'
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: keyAssignmentNumber
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: put_36
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '404':
          description: Not found
        '204':
          description: Updated
        '400':
          description: Validation error
        '403':
          description: Insufficient permissions
    delete:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: keyAssignmentNumber
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: delete_36
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '404':
          description: Not found
        '204':
          description: Deleted
        '403':
          description: Insufficient permissions
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: keyAssignmentNumber
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_118
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiResponse'
              example:
                links: {}
                data:
                - value: '3'
                  name: number
                href: /api/customers/example-id/targets/ivr-services/example-id/key-assignments/example-id
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
  /tenants/{participantExternalIdentifier}/targets/ivr-services/{serviceNumber}/inbound-trunk-numbers/{didNumber}:
    delete:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: didNumber
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: delete_35
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '404':
          description: Not found
        '204':
          description: Deleted
        '403':
          description: Insufficient permissions
    get:
      parameters:
      - schema:
          type: string
        required: true
        in: path
        name: didNumber
      - schema:
          type: string
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_116
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiResponse'
              example:
                links: {}
                data:
                - value: '123456'
                  name: didExtension
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
  /tenants/{participantExternalIdentifier}/targets/ivr-services/{serviceNumber}/timeout:
    put:
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TimeoutRequest'
      parameters:
      - schema:
          format: int32
          type: integer
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: put_51
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '404':
          description: Not found
        '204':
          description: Updated
        '400':
          description: Validation error
        '403':
          description: Insufficient permissions
    delete:
      parameters:
      - schema:
          format: int32
          type: integer
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: delete_51
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '404':
          description: Not found
        '204':
          description: Deleted
        '403':
          description: Insufficient permissions
    get:
      parameters:
      - schema:
          format: int32
          type: integer
        required: true
        in: path
        name: serviceNumber
      - schema:
          type: string
        required: true
        in: path
        name: participantExternalIdentifier
      tags:
      - Customer IVR
      operationId: get_181
      security:
      - oauth2:
        - tenant.manager
      - oauth2:
        - tenant.system-integrator
      - oauth2:
        - tenant.operator
      - oauth2:
        - tenant.admin
      responses:
        '200':
          content:
            application/vnd.collection.next+json:
              schema:
                $ref: '#/components/schemas/NfonApiResponse'
              example:
                links:
                - href: /api/customers/K1234/ivrs/available-timeout-destinations
                  rel: availableDestinations
                - href: /api/customers/K1234/targets/services/8
                  rel: destinationOnTimeout
                data:
                - value: '30'
                  name: timeoutDelay
                href: /api/customers/example-id/targets/ivr-services/example-id/timeout
          description: Success
        '403':
          description: Insufficient permissions
        '404':
          description: Not found
components:
  schemas:
    IVRServiceRequest:
      properties:
        links:
          $ref: '#/components/schemas/IVRServiceLinks'
        data:
          $ref: '#/components/schemas/IVRServiceData'
        items:
          items:
            type: object
          type: array
        itemCount:
          format: int32
          type: integer
      type: object
    Integer:
      properties:
        notNull:
          type: boolean
        notPresent:
          type: boolean
        present:
          type: boolean
        presentNotNull:
          type: boolean
        presentNull:
          type: boolean
        value:
          format: int32
          type: integer
      example: 1000
      type: object
      description: Subscribers soft limit
    String:
      properties:
        notNull:
          type: boolean
        notPresent:
          type: boolean
        present:
          type: boolean
        presentNotNull:
          type: boolean
        presentNull:
          type: boolean
        value:
          type: string
      type: object
      description: Link to the last page
    TimeoutRequest:
      properties:
        links:
          $ref: '#/components/schemas/TimeoutLinks'
        data:
          $ref: '#/components/schemas/Data'
        items:
          items:
            type: object
          type: array
        itemCount:
          format: int32
          type: integer
      type: object
    NfonApiResponse:
      properties:
        links:
          $ref: '#/components/schemas/Links'
        data:
          description: Resource data (name/value pairs or structured object)
          type: object
        href:
          example: /api/sip-servers/100
          type: string
          description: Self-link to this resource
      type: object
      description: Standard API response envelope for a single resource
    TimeoutLinks:
      type: object
    NfonApiCollectionResponse:
      oneOf:
      - $ref: '#/components/schemas/NfonApiCollectionResponsePage'
      - $ref: '#/components/schemas/NfonApiCollectionResponseNonPage'
      type: object
      description: Collection response envelope
    InboundTrunkNumberRequest:
      properties:
        links:
          $ref: '#/components/schemas/InboundTrunkNumberLinks'
        data:
          $ref: '#/components/schemas/InboundTrunkNumberData'
        items:
          items:
            type: object
          type: array
        itemCount:
          format: int32
          type: integer
      type: object
    IVRServiceData:
      properties:
        type:
          $ref: '#/components/schemas/String'
        active:
          $ref: '#/components/schemas/Boolean'
        extensionNumber:
          $ref: '#/components/schemas/String'
        serviceNumber:
          $ref: '#/components/schemas/Integer'
        serviceCode:
          $ref: '#/components/schemas/String'
        notActiveSince:
          $ref: '#/components/schemas/Date'
        interpretUnknownAsExtension:
          $ref: '#/components/schemas/Boolean'
        displayName:
          $ref: '#/components/schemas/String'
        maxNumberOfDigits:
          $ref: '#/components/schemas/Integer'
        name:
          $ref: '#/components/schemas/String'
      type: object
    IVRServiceKeyAssignmentLinks:
      properties:
        target:
          $ref: '#/components/schemas/String'
      type: object
    IVRServiceLinks:
      properties:
        inboundTrunkNumbers:
          $ref: '#/components/schemas/String'
        destinationOnTimeout:
          $ref: '#/components/schemas/String'
        ivrKeyAssignments:
          $ref: '#/components/schemas/String'
        announcement:
          $ref: '#/components/schemas/String'
      type: object
    IVRServiceKeyAssignmentData:
      properties:
        number:
          $ref: '#/components/schemas/String'
      type: object
    NfonApiCollectionResponsePage:
      properties:
        links:
          $ref: '#/components/schemas/CollectionLinks'
        offset:
          example: 0
          description: Current page offset
          format: int64
          type: integer
        total:
          example: 42
          description: Total number of items in the collection
          format: int64
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/NfonApiResponse'
          description: Items in this page
        size:
          example: 20
          description: Number of items in this page
          format: int32
          type: integer
        href:
          description: Self-link to this collection
          type: string
      type: object
      description: Paginated collection response envelope
    Data:
      properties:
        key:
          type: string
          description: Metadata key.
          example: function_key_number
        value:
          type: string
          description: Metadata value.
          example: '5'
      type: object
      required:
      - key
      - value
      description: Data represents key-value pair for additional reference metadata.
    InboundTrunkNumberData:
      properties:
        didExtension:
          example: '123456'
          type: string
      type: object
    CollectionLinks:
      properties:
        first:
          $ref: '#/components/schemas/String'
        prev:
          $ref: '#/components/schemas/String'
        next:
          $ref: '#/components/schemas/String'
        last:
          $ref: '#/components/schemas/String'
      type: object
      description: Pagination links for collection responses
    IVRServiceKeyAssignmentRequest:
      properties:
        links:
          $ref: '#/components/schemas/IVRServiceKeyAssignmentLinks'
        data:
          $ref: '#/components/schemas/IVRServiceKeyAssignmentData'
        items:
          items:
            type: object
          type: array
        itemCount:
          format: int32
          type: integer
      type: object
    Boolean:
      properties:
        notNull:
          type: boolean
        notPresent:
          type: boolean
        present:
          type: boolean
        presentNotNull:
          type: boolean
        presentNull:
          type: boolean
        value:
          type: boolean
      type: object
      example: false
    Date:
      properties:
        notNull:
          type: boolean
        notPresent:
          type: boolean
        present:
          type: boolean
        presentNotNull:
          type: boolean
        presentNull:
          type: boolean
        value:
          format: date-time
          type: string
      type: object
    Links:
      description: Related resource links
      type: object
    NfonApiCollectionResponseNonPage:
      properties:
        links:
          $ref: '#/components/schemas/Links'
        href:
          description: Self-link to this collection
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/NfonApiResponse'
          description: All items in the collection
      type: object
      description: Non-paginated collection response envelope
    InboundTrunkNumberLinks:
      properties:
        trunk:
          type: string
      type: object
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JSON Web Token
